@mixin alerts(){
        padding: 1rem 2rem;
        font-size: 1.4rem;
        border-radius: 1rem;
        margin: 1rem 0;
    @media (min-width: $sm) {
        padding: 2rem 3rem;
        margin: 1rem 0 0 0;
        font-size: 2rem;
    }
    
}

