$color-font: #1a1126;
$color-main: #d98e04;
$color-main-lighter: #dceaf2;
$color-light: #d9d8d7;
$color-white: #f2f2f0;
$color-purple-warning: #bc62cc;
$color-green-success: #76a67c;
$font-big: "Bebas Neue", cursive;
$font-text: "Lato", sans-serif;
$font-weight-thin: 100;
$font-weight-standard: 300;
$font-weight-bold: 700;

body {
  background-color: $color-main;
}

h3 {
  font-family: $font-big;
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
  font-family: $font-big;
  @media (min-width: 768px) {
    font-size: 2.8rem;
  }
}

p {
  font-size: 1.4rem;
  font-family: $font-text;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

a {
  color: $color-font;
  text-decoration: none;
  font-family: $font-text;
  font-weight: $font-weight-bold;
}

$xs: 512px;
$sm: 768px;
$md: 896px;
$lg: 1152px;
$xl: 1280px;
